<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>title</key>
        <string>PadGrid</string>
        <key>entry</key>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>icon</key>
            <string>PadGrid.png</string>
            <key>label</key>
            <string>PadGrid</string>
        </dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Grid Size (Landscape Format)</string>
                <key>footerText</key>
                <string>Note that the value will override even the grid size when the display is zoomed.

(For iOS 14+) 8x6 is recommended for homescreen with widgets (and Today View).

(For iOS 14) 9x6 or 10x7 is recommended for homescreen with 2x2 widgets without Today View (or with NotTodayHomeScreenSideBar tweak) and icon labels.

10x8 is recommended for homescreen without widgets (for iOS 14+) or those who want to max out the grid size.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>defaults</key>
                <string>com.ps.padgrid</string>
                <key>default</key>
                <integer>0</integer>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>key</key>
                <string>GridSizeKey</string>
                <key>label</key>
                <string>Size</string>
                <key>validTitles</key>
                <array>
                    <string>Default</string>
                    <string>6x5</string>
                    <string>8x5</string>
                    <string>8x6</string>
                    <string>9x6</string>
                    <string>10x7</string>
                    <string>10x8</string>
                    <string>Custom</string>
                </array>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>99</integer>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Custom Grid Size</string>
                <key>footerText</key>
                <string>Manually set the number of columns and rows if Grid Size is Custom.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>detail</key>
                <string>PSDetailController</string>
                <key>default</key>
                <string></string>
                <key>defaults</key>
                <string>com.ps.padgrid</string>
                <key>key</key>
                <string>RowsKey</string>
                <key>placeholder</key>
                <string>Rows</string>
                <key>isNumeric</key>
                <true/>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>detail</key>
                <string>PSDetailController</string>
                <key>default</key>
                <string></string>
                <key>defaults</key>
                <string>com.ps.padgrid</string>
                <key>key</key>
                <string>ColumnsKey</string>
                <key>placeholder</key>
                <string>Columns</string>
                <key>isNumeric</key>
                <true/>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Custom Folder Size (iOS 14+)</string>
                <key>footerText</key>
                <string>Manually set the number of columns and rows of folders.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>defaults</key>
                <string>com.ps.padgrid</string>
                <key>default</key>
                <integer>0</integer>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>key</key>
                <string>FolderColsKey</string>
                <key>label</key>
                <string>Folder Columns</string>
                <key>validTitles</key>
                <array>
                    <string>Default</string>
                    <string>3</string>
                    <string>4</string>
                    <string>5</string>
                    <string>6</string>
                    <string>7</string>
                    <string>8</string>
                </array>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkListCell</string>
                <key>defaults</key>
                <string>com.ps.padgrid</string>
                <key>default</key>
                <integer>0</integer>
                <key>detail</key>
                <string>PSListItemsController</string>
                <key>key</key>
                <string>FolderRowsKey</string>
                <key>label</key>
                <string>Folder Rows</string>
                <key>validTitles</key>
                <array>
                    <string>Default</string>
                    <string>3</string>
                    <string>4</string>
                    <string>5</string>
                    <string>6</string>
                    <string>7</string>
                    <string>8</string>
                </array>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Starting from iPadOS 15, there are additional insets in the home screen that could otherwise be used for icons. Enable this option if you want to utilize the entire iPad screen by reducing these insets to 50%.</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>1854</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>com.ps.padgrid</string>
                <key>key</key>
                <string>ReduceInsetsKey</string>
                <key>label</key>
                <string>Reduce edge insets</string>
                <key>pl_filter</key>
                <dict>
                    <key>CoreFoundationVersion</key>
                    <array>
                        <string>1854</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerAlignment</key>
                <integer>1</integer>
                <key>footerText</key>
                <string>© 2021 - 2022 PoomSmart</string>
            </dict>
        </array>
    </dict>
</plist>